.toast-container {
  width: 328px;
  max-width: calc(100% - 32px);
  margin: 16px;
  padding: 1.6rem;
  border-radius: 1.2rem;
  background-color: var(--Gray-700);
  color: var(--Base-White);
  word-break: keep-all;
}
