.toast-container {
  width: 100%;
  max-width: 328px;
  margin: 16px;
  padding: 1.6rem;
  border-radius: 1.2rem;
  background-color: var(--Gray-700);
  color: var(--Base-White);
  word-break: keep-all;
}
