.common-toggle {
  margin: 0;
  appearance: none;
  position: relative;
  width: 46px;
  height: 26px;
  border-radius: 13px;
  background-color: #e2e2e2;
  transition: background 0.3s;
  outline: none;
  cursor: pointer;
}

.common-toggle::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  transition: left 0.3s;
}

.common-toggle:checked {
  background-color: #b5312c;
}

.common-toggle:checked::after {
  left: 70%;
}
