@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff')
    url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff')
    url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 400 600 700;
  font-style: normal;
}

:root {
  --Base-White: #fff;
  --gradient-01: linear-gradient(190deg, #384149 17.29%, #000 86.35%);
  --Red-600: #d14444;
  --Blue-900: #242c33;
  --Gray-10: #a7abad;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  margin: 0;
  font-family: Pretendard;
}

#__next {
  height: 100%;
}

button {
  cursor: pointer;
}
