/* 기본 체크박스 숨기기 */
.common-checkbox-input {
  display: none;
}

/* 체크박스 스타일 */
.common-checkbox-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 30px; /* 체크박스 영역 공간 확보 */
  color: #333;
}

/* 체크박스 디자인 */
.common-checkbox-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid #a7abad;
  border-radius: 4px; /* 둥근 모서리 */
  background-color: #fff;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

/* 원형 체크박스 디자인 */
.common-checkbox-label.circle::before {
  border-radius: 50%; /* 원형으로 변경 */
}

/* 체크된 상태 스타일 */
.common-checkbox-label:has(.common-checkbox-input[type='checkbox']:checked)::before {
  background-color: #b5312c; /* 체크박스 배경색 */
  border-color: #b5312c;
}

/* 체크 표시를 이미지로 설정 */
.common-checkbox-label:has(.common-checkbox-input[type='checkbox']:checked)::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 6px;
  width: 12px;
  height: 12px;
  background-image: url('https://roomlet.s3.ap-northeast-2.amazonaws.com/public/images/common/checkmark.png'); /* 체크 표시 이미지 경로 */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 원형 체크박스의 체크 표시 위치 조정 */
.common-checkbox-label.circle:has(.common-checkbox-input[type='checkbox']:checked)::after {
  left: 5px;
  top: 8px;
  width: 10px;
  height: 8px;
  background-image: url('https://roomlet.s3.ap-northeast-2.amazonaws.com/public/images/common/checkmark_v2.png'); /* 체크 표시 이미지 경로 */
}

/* 호버 효과 */
.common-checkbox-label:hover::before {
  border-color: #666;
}
